<!--use:_views/m.main-->

<!--define:title-->
Chat
<!--/define:title-->

<!--define:main-->
<div data-ng-controller="chatCtrl as ctrl">
	<div class="page-header">
		<h1>Chat</h1>
	</div>
	<div class="row font-normal">
		<div class="col-md-2">
			<!--lista de usuarios-->
			<br>
			<ul class="list-group">
				<li class="list-group-item" data-ng-repeat="(key, value) in ctrl.chat.users">
					<img data-ng-src="{{value.thumb}}" height="10px" />
					&nbsp;
					<strong class="text-capitalize">{{value.nickname}}</strong>
				</li>
			</ul>
		</div>
		<div class="col-md-10  in-main">
			<!--input de mensaje público-->
			<div class="input-group input-group-lg">
				<input type="text" class="form-control" data-ng-model="ctrl.chat.message" placeholder="Nuevo mensaje para el chat" data-ng-keypress="ctrl.chat.keypress($event)"/>
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" data-ng-click="ctrl.chat.append()">Enviar</button>
				</span>
			</div>
			<!--lista de mensajes-->
			<ul class="list-group listaContenido" id="chat">
				<li class="list-group-item" data-ng-repeat="row in ctrl.chat.coll2">
					<img data-ng-src="{{row.thumb}}" height="25px" title="{{row.nickname}}" style="float:left;margin-right:5px;margin-bottom:5px;"/>
					<small>{{row.time|date:"mediumTime"}}</small>
					<br>
					<p>{{row.message}}. </p>
				</li>
			</ul>
		</div>
	</div>
	<audio type="audio/mpeg" id="blop">
		<source src="media/audio/blop.mp3" ></source>
	</audio>
</div>
<!--/define:main-->

<!--define:script-->
<script type="text/javascript" src="js/lib/socket.io-2.0.3.js"></script>
<script type="text/javascript" src="js/lib/jcryption.js"></script>
<script type="text/javascript">
	var app = angular.module('myApp',[]);
	app.factory("trascender", function(){
		return trascender;
	});
	moment.locale("es");
	var host = "{{data:doc.config.properties.host}}";
</script>
<script type="text/javascript" src="js/user.js"></script>
<script type="text/javascript" src="js/chat.js"></script>
<!--/define:script-->