<div id="dvchat" class="font-normal" data-ng-controller="chatCtrl as ctrl" data-ng-show="ctrl.user.doc!=null && ctrl.user.doc.roles.indexOf('user')>-1">
	<!--lista de mensajes-->
	<ul class="list-group listaContenido" id="chat" data-ng-show="ctrl.chat.showChat == 1">
		<li class="list-group-item" data-ng-repeat="row in ctrl.chat.coll">
			<img data-ng-src="{{row.thumb}}" height="25px" title="{{row.nickname}}" style="float:left;margin-right:5px;margin-bottom:5px;"/>
			<small>{{row.time|date:"mediumTime"}}</small>
			<br>
			<p>{{row.message}}. </p>
		</li>
	</ul>
	<!--input de mensaje público-->
	<div class="input-group ">
		<input type="text" class="form-control" placeholder="ingrese un mensaje" data-ng-model="ctrl.chat.message" data-ng-keypress="ctrl.chat.keypress($event)" />
		<span class="input-group-btn">
			<button class="btn btn-default" type="button" data-ng-click="ctrl.chat.append()">Enviar</button>
			<button class="btn btn-default" type="button" data-ng-click="ctrl.chat.toggle(0)" data-ng-show="ctrl.chat.showChat == 1">
				<i class="fa fa-angle-down"></i>
			</button>
			<button class="btn btn-default" type="button" data-ng-click="ctrl.chat.toggle(1)" data-ng-show="ctrl.chat.showChat != 1">
				<i class="fa fa-angle-up"></i>
			</button>
		</span>
	</div>
	<!--audio blop-->
	<audio type="audio/mpeg" id="blop">
		<source src="media/audio/blop.mp3" ></source>
	</audio>
</div>