<!doctype html>
<html>

<head>
    <!--Metas-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="trascender" />
    <meta name="description" content="trascender" />
    <meta name="Author" content="@trascender.org" />
    <!--Title-->
    <title>CHAT
    </title>
    <!--Base-->
    <base href="/" />
    <!--Favicon-->
    <link rel="shortcut icon" href="media/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="media/img/favicon.ico" type="image/x-icon">
    <!--Styles-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="css/www.css" media="all" />
</head>

<body>
    <div id="simpleweb" data-ng-app="myApp">
        <header class="fp">
            <img src="/media/img/simpleweb/img2.jpg" class="fp hidden-xs" alt="simpleweb" />
            <h1>CHAT ANONIMO
		    </h1>
            <div class="opacity">
            </div>
        </header>
        <main class="fp">
            <img src="/media/img/simpleweb/img1.jpg" class="fp" alt="simpleweb" />
            <section>
                <h2>TRASCENDER.CHAT</h2>
				<img src="/media/img/logo.png" id="logo"/>
                <br />
                <p>Bienvenido a este espacio digital, un sistema experimental que ofrece una plataforma básica de comunicación con la particularidad de que los mensajes enviados serán cifrados desde el momento en que se presiona el boton "enviar". Para que puedas comunicarte con alguien, deberás acordar una palabra secreta antes de utilizar el sistema.
                </p>
				<p>Más información pinchando <a href="https://github.com/jotacalderon90/trascender.chat" target="_blank">aquí</a></p>
            </section>
        </main>
		<div class="container fp" data-ng-controller="chatCtrl as ctrl">
			<br>
			<br>
			<br>
			<br>
			<br>
            <div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-2">
					<input type="text" class="form-control" placeholder="Ingrese un nombre de usuario" data-ng-model="ctrl.chat.user.nickname"/>
					<br>
					<input type="password" class="form-control" placeholder="Ingrese clave secreta" data-ng-model="ctrl.chat.user.password"/>
					<br>
					<input type="text" class="form-control" placeholder="Ingrese link de thumb" data-ng-model="ctrl.chat.user.thumb"/>
					<br>
					<audio type="audio/mpeg" id="blop" controls>
						<source src="media/audio/blop.mp3"></source>
					</audio>
				</div>
                <div class="col-md-8">
                    <input type="text" maxlength="100" class="form-control" data-ng-model="ctrl.chat.message" placeholder="Nuevo mensaje para el chat" data-ng-keypress="ctrl.chat.keypress($event)" />
                    <ul class="list-group" id="chat">
                    </ul>
                </div>
				<div class="col-md-1"></div>
            </div>
        </div>

    </div>

    <!--<js>-->
    <script src="bower_components/jquery/dist/jquery.min.js">
    </script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js">
    </script>
    <script src="bower_components/angular/angular.min.js">
    </script>
	<script src="js/lib/socket.io-2.0.3.js">
	</script>
	<script src="js/lib/jcryption.js">
	</script>
    <script src="js/lib/moment.js">
    </script>
    <script src="js/lib/moment-with-locales.js">
    </script>
    <script src="js/lib/trascender.js">
    </script>
    <script>
        var app = angular.module('myApp', []);
        app.factory("trascender", function() {
            return trascender;
        });
        moment.locale("es");
		var host = "{{data:doc.config.properties.host}}";
    </script>
	<script src="js/chat.js">
	</script>
    <!--</js>-->
</body>
</html>