<!doctype html>
<html>

<head>
    <!--Metas-->
    <meta charset="utf-8" />
	<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
    <meta name="keywords" content="trascender" />
    <meta name="description" content="trascender" />
    <meta name="Author" content="@trascender.org" />
    <!--Title-->
    <title>CHAT
    </title>
    <!--Base-->
    <base href="/" />
    <!--Favicon-->
    <link rel="shortcut icon" href="media/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="media/img/favicon.ico" type="image/x-icon">
    <!--Styles-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="css/www.css" media="all" />
	
	<script type="module" src="https://unpkg.com/@ionic/pwa-elements@latest/dist/ionicpwaelements/ionicpwaelements.esm.js"></script>
	<script nomodule src="https://unpkg.com/@ionic/pwa-elements@latest/dist/ionicpwaelements/ionicpwaelements.js"></script>
	
	<link rel="manifest" href="media/doc/manifest.json">
</head>

<body>
    <div id="simpleweb" data-ng-app="myApp"  data-ng-controller="chatCtrl as ctrl">
		<div id="dvChat" class="fp">
			
		</div>
		<div id="dvChat" class="fp">
			<ul class="list-group" id="chat"></ul>
			<div class="input-group">
				<input type="text" class="form-control" data-ng-model="ctrl.chat.message" placeholder="Nuevo mensaje para el chat" data-ng-keypress="ctrl.chat.keypress($event)" />
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="fa fa-cog"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right">
						<li class="text-center">
							<a data-toggle="modal" data-ng-click="ctrl.camera.take()">
								<i class="fa fa-photo"></i>
							</a>
						</li>
						<li class="text-center">
							<a data-toggle="modal" data-target="#mdNickname">
								<i class="fa fa-user"></i>
							</a>
						</li>
						<li class="text-center">
							<a data-toggle="modal" data-target="#mdPassword">
								<i class="fa fa-lock"></i>
							</a>
						</li>
						<li>
							<button class="btn btn-block btn-success" data-ng-click="ctrl.chat.copy()">GENERAR URL PRIVADA</button>
						</li>
						<li>
							<audio type="audio/mpeg" id="blop" controls>
								<source src="media/audio/blop.mp3"></source>
							</audio>
						</li>
					</ul>
				</div>
			</div>
			<div class="modal fade" id="mdNickname" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<input type="text" class="form-control" placeholder="Ingrese un nombre de usuario" data-ng-model="ctrl.chat.user.nickname"/>
					</div>
				</div>
			</div>
			<div class="modal fade" id="mdPassword" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<input type="password" class="form-control" placeholder="Ingrese clave secreta" data-ng-model="ctrl.chat.user.password"/>
					</div>
				</div>
			</div>
        </div>
    </div>

    <!--<js>-->
    <script src="bower_components/jquery/dist/jquery.min.js">
    </script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js">
    </script>
    <script src="bower_components/angular/angular.min.js">
    </script>
	<script src="js/lib/socket.io-2.0.3.js">
	</script>
	<script src="js/lib/jcryption.js">
	</script>
    <script src="js/lib/moment.js">
    </script>
    <script src="js/lib/moment-with-locales.js">
    </script>
    <script src="js/lib/trascender.js">
    </script>
	<script src="js/lib/capacitor.js">
	</script>
    <script>
        var app = angular.module('myApp', []);
        app.factory("trascender", function() {
            return trascender;
        });
        moment.locale("es");
		var host = "{{data:doc.config.properties.host}}";
    </script>
	<script src="js/chat.js">
	</script>
	<script src="js/lib/loader.js">
	</script>
    <!--</js>-->
</body>
</html>